@font-face {
    font-family: "PTRootUIVF";
    font-weight: 400;
    font-style: normal;
    src: local("PTRootUIVF Regular"), local("PTRootUIVF-Regular"), url("../fonts/PT-Root-UI_Regular.woff2") format("woff2"), url("../fonts/PT-Root-UI_Regular.woff") format("woff"), url("../fonts/PT-Root-UI_Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 400;
    font-style: normal;
    src: local("Source Serif Pro"), local("PTRootUIVF-Regular"), url("../fonts/SourceSerifPro-Regular.woff2") format("woff2"), url("../fonts/SourceSerifPro-Regular.woff") format("woff"), url("../fonts/SourceSerifPro-Regular.ttf") format("truetype");
}
@keyframes rotateInDownRight {
    0% {
        transform-origin: right bottom;
        transform: rotate3d(0,0,1,45deg);
        opacity: 0;
    }
    
    100% {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    
    100% {
        opacity: 1;
        transform: none;
    }
}
.animate {
    opacity: 0;
}
.rotateInDownRight {
    animation-name: rotateInDownRight;
}
.zoomIn {
    animation-name: zoomIn;
}
.fadeUp {
    animation-name: fadeUp;
}
.bust-page {
    font-family: "PTRootUIVF", Sans-serif;
    padding: 0;
    h3 {
        font-size: clamp(2.25rem, 4vw, 2.75rem);
        color: #87003D;
        font-weight: 900;
        line-height: 1;
    }
    h4 {
        font-family: "Source Serif Pro", serif;
        font-size: clamp(1.75rem, 3vw, 2.25rem);
        font-weight: 300;
        line-height: 1.15;
    }
    h5 {
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.6;
        text-transform: uppercase;
    }
    p {
        font-size: 1.125rem;
        line-height: 1.6;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
    i {
        width: 1.25em;
        font-size: 12px;
    }
    @media (max-width: 1024px) {
        p {
            font-size: 16px;
        }   
    }
    @media (max-width: 767px) {
        h3 {
            font-size: 30px;
        }
    }
}
.bust-page .container {
    max-width: 1140px;
    padding: 0 10px;
    @media (max-width: 1024px) {
       padding: 0 20px;
    }
}
.bust-fixed {    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    .container {
        max-width: 1300px;
        padding: 0;
    }
    p {
        color: #FFFFFF;
        font-family: "PTRootUIVF", Sans-serif;
        font-size: 12px!important;
        font-weight: 400;
        line-height: 1;
        margin: 0;
    }
    a {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2px;
        &:hover i {
            color:#f77da4;
        }
        i {
            color: #fcecf4;
            transform: rotate(95deg);
            margin-right: 5px;
        }
    }
    &__btn {
       width: 19.885%;
       padding: 10px;
       background: #87003D; 
       margin-left: auto;
       border-radius: 0px 0px 20px 20px;
       text-align: center;
    }
    @media (max-width: 1024px){
        position: static; 
        &__btn {
            width: 30%; 
            position: fixed;
            top: 0;
            right: 0;
            z-index: 500;
        }
    }
    @media (max-width: 767px) {
        &__btn {
            width: 70%;
        }
}
}
.bust-hero {
    position: relative;
    margin-top: -40px;
    background-color: #F8B5BE;
    margin-bottom: 10px;
    h1 {
        color: #87003D;
        font-size: 50px;
        font-weight: 600;
        line-height: 1;
        span {
            font-size: 30px;
            display: block;
            margin-top: 20px;
        }
    }
    .container {
        min-height: 900px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        padding: 0!important;
    }
    &__back {
        display: flex;
        align-items: center;
        position: absolute;
        top: 100px;
        left: 10px;
        svg {
            fill: #87003D;
            margin-right: 10px;
        }
    }
    &__bg {
        background-image: url(../img/bust/bust-hero-bg.svg);
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 60% auto;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
    &__content {
        flex: 0 0 50.306%;
        padding: 10px;
    }
    &__img {
        width: 70%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    &__btn {
        display: inline-block;
        font-size: 20px;
        line-height: 1;
        font-weight: 900;
        text-transform: uppercase;
        color: #87003D;
        background-color: #F4C2D500;
        border: 5px solid #87003D;
        border-radius: 500px;
        padding: 20px 40px 20px 40px;
        margin-top: 40px;
        transition: all .3s ease;
        &:hover, &:active {
            background: #87003D;
            color: #fff;
        }
    }
    @media (max-width: 1024px) and (min-width: 768px) {    
        &__content {
            flex: 0 0 55%; 
        }
    }
    @media (max-width: 1024px) {
        padding: 25px;
        h1 {
            font-size: 40px;
        }
        .container {
            min-height: 490px;
        } 
        &__back {
            top: 30px;
        }
        &__btn {
            font-size: 18px;
            padding: 15px 25px;
            margin-top: 20px;
        }  
    }
    @media (max-width: 767px) {
        h1 {
            font-size: 33px;
            span {
                font-size: 25px;
            }
        }
        &__back {
            top: 100px;
        }
        &__bg {
             background-image: none;
             background-size: 1% auto;
        }
        &__content {
            flex: 0 0 100%;
            padding: 70px 0 30px;
        }
        &__img {
            width: 55%;
            margin: 65px 0px 20px 0px;
        }
        &__btn {
            margin-bottom: 30px;
        }
    }
}
.bust-about {
    padding: 70px 0 10px;
    h3 {
        margin-bottom: 20px;
    }
    &__row {
        display: flex;
    }
    &__content {
        flex: 0 0 69.554%;
        padding-right: 20px;
    }
    &__preview {
        flex: 1 1 auto;
        margin: 0px 0px 40px 20px;
        span {
            display: block;
            font-weight: 800;
            color: #87003D;
            font-size: 1.125rem;
            line-height: 1.6;
            margin-bottom: 20px;
        }
        img {
            width: 100%;
        }
    }
    @media (max-width: 1024px) and (min-width: 768px){
        &__content {
            flex: 0 0 60%;
        }    
    }
    @media (max-width: 1024px){
       padding: 50px 0px 0px 0px;
       &__preview span {
        font-size: 16px;
       }
    }
    @media (max-width: 767px) {
        &__row {
            display: block;
        }
        &__preview {
            margin: 30px 0 0;
        }
    }
}
.bust-info {
    padding-top: 10px;
    h3 {
        margin-bottom: 40px;
    }
    .container {
        display: flex;
        align-items: flex-start;
    }
    &__preview {
        flex: 0 0 31.8% ;
        background: #87003D;
        padding: 50px;
        border-radius: 30px;
        margin-right: 60px;
        h3 {
            font-size: 30px;
            color: #fff;
            margin-bottom: 20px;
        }
    }
    &__block {
        overflow: hidden;
        margin: 40px 0 20px;
    }
    &__block .animate {
        font-size: 18px;
        font-weight: 700;
        color: #000;
        padding: 10px;
        background-color: #F8B5BE;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-box-shadow .3s;
        animation-duration: 1.25s;
        span {
            margin-left: 10px;
        }
        i {
            font-size: 35px;
            text-align: center;
            color: #87003D;
        }
        &:hover {
            color: #87003D;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px){
    &__preview {
        display: none;
    }
    }
    @media (max-width: 1024px) {
        .container {
            display: block;
        }
    }
    @media (max-width: 767px) {
        .container {
            display: block;
        }
        &__block .animate {
            justify-content: left;
        }
        &__preview {
            padding: 30px;
            margin: 0 0 40px;
        }
    }
}
.item-accordion {
    i {
        font-size: 25px;
        transition: color .3s ease;
    }
    &__header {
        padding: 30px;
        border-radius: 20px;
        font-size: 25px;
        font-weight: 800;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        transition: all .3s ease;
        cursor: pointer;
        i {
            transition: all .3s ease;
        }
        &:hover, &.open{
            color: #FFFFFF;
            background: #87003D;
        }
        &.open {
            .item-accordion__chevron {
                transform: rotate(180deg);
            }
        }
    }
    &__left {
        display: flex;
        align-items: center;
        span {
            display: block;
            margin-right: 10px;
        }
    }
    &__content {
        display: none;
        padding: 0 20px;
        margin: 40px 0 15px;
        background-color: #fff;
        p {
            margin: 0;
        }
        ul {
            padding-left: 15px;
            //margin-bottom: 25px;
        }
        ul li {
            font-size: 18px;
            line-height: 1.6;
            @media (max-width: 1024px) {
               font-size: 16px;
            }
        }
        h4 {
            margin-top: 1.15em;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    @media (max-width: 1024px) {
        i {
            font-size: 18px;
        }
        &__header {
            font-size: 18px;
        }
    }
    @media (max-width: 767px) {
        &__header {
            padding: 15px;
            border-radius: 10px;
            font-size: 16px;
            line-height: 1.2em;
            text-transform: uppercase;
        }
        &__content {
            padding: 0 15px;
            margin: 32px 0 7px;
        }
        &__chevron i {
            font-size: 16px;
        }
        &__left i {
            font-size: 35px;
         }
    }
}
.bust-discount {
    padding-top: 40px;
    h3 {
        margin-bottom: 20px;
    }
}
.bust-bullhorn {
    padding-top: 20px;
    &__inner {
        max-width: 1120px;
        padding: 35px;
        margin: 0 auto;
        background-color: #87003D;
        display: flex;
        align-items: center;
        border-radius: 10px;
        h3 {
            font-size: 30px;
            color: #fff;
            margin-bottom: 20px;
        }
        p {
            color: #fff;
            margin-block-end: 0;
        }
    }
    &__content {
        flex: 0 0 81.776%;
    }
    &__icon {
        flex: 1 1 auto;   
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }
    &__icon span{
        width: 100px;
        height: 100px;
        color: #87003D;
        animation-duration: 1.25s;
        background-color: #F8B5BE;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 50px;
            transform: rotate(333deg);
        }
    }
    @media (max-width: 767px) {
        &__inner {
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
        }
        &__icon {
            order: -1;
            margin: 0 0 27px;
        }
    }
}
.bust-awards {
    max-width: 1325px;
    padding: 60px 50px;
    margin: 57px auto 0;
    background-color: #F8B5BE;;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 30px;
    h3 {
        margin-bottom: 20px;
    }
    .container {
        max-width: 1140px;
        display: flex;
    }
    &__contents {
        flex: 0 0 54.825%;
    }
    &__content {
        margin-bottom: 40px;
        p:last-child {
            margin-bottom: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &--w-border p {
            padding-left: 20px;
            border-style: solid;
            border-width: 0px 0px 0px 10px;
            border-color: #87003D;
            border-radius: 5px;
        }
    }
    &__img {
        flex: 1 1 auto;
        margin-left: 20px;
        img {
            animation-duration: 1.25s;
        }
    }
    @media (max-width: 1024px) and (min-width: 768px) {
        &__img {
           display: none;
        }   
    }
    @media (max-width: 1024px) {
        margin: 40px 20px 20px;
        padding: 20px;
        .container {
            flex-direction: column;
            padding: 0;
        }
        &__img {
            order: -1;
            margin: 0 0 20px;
        }
    }
    @media (max-width: 767px) {
        padding: 30px 20px;
        border-radius: 10px;
        &__content {
            &--w-border p {
                padding-left: 0;
                border: none;
                border-radius: 0;
            }
        }
    }
}
.bust-partners {
    padding: 60px 0 20px;
    h3 {
        margin-bottom: 40px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        flex: 0 0 33.333%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            object-fit: contain;
        }
    }
    @media (max-width: 1024px) {
        padding-top: 20px;
    }
    @media (max-width: 767px) {
        &__item {
            flex: 0 0 50%;
            width: 50%;
        }
    }
}



