@font-face {
  font-family: "PTRootUIVF";
  font-weight: 400;
  font-style: normal;
  src: local("PTRootUIVF Regular"), local("PTRootUIVF-Regular"), url("../fonts/PT-Root-UI_Regular.woff2") format("woff2"), url("../fonts/PT-Root-UI_Regular.woff") format("woff"), url("../fonts/PT-Root-UI_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-style: normal;
  src: local("Source Serif Pro"), local("PTRootUIVF-Regular"), url("../fonts/SourceSerifPro-Regular.woff2") format("woff2"), url("../fonts/SourceSerifPro-Regular.woff") format("woff"), url("../fonts/SourceSerifPro-Regular.ttf") format("truetype");
}

@-webkit-keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.animate {
  opacity: 0;
}

.rotateInDownRight {
  -webkit-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.fadeUp {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
}

.bust-page {
  font-family: "PTRootUIVF", Sans-serif;
  padding: 0 0 60px;
}

.bust-page h3 {
  font-size: clamp(2.25rem, 4vw, 2.75rem);
  color: #87003D;
  font-weight: 900;
  line-height: 1;
}

.bust-page h4 {
  font-size: clamp(1.75rem, 3vw, 2.25rem);
  font-weight: 300;
  line-height: 1.15;
}

.bust-page h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
}

.bust-page p {
  font-size: 1.125rem;
  line-height: 1.6;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
}

.bust-page i {
  width: 1.25em;
  font-size: 12px;
}

.bust-page .container {
  max-width: 1140px;
  padding: 0 10px;
}

.bust-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}

.bust-fixed .container {
  max-width: 1300px;
  padding: 0;
}

.bust-fixed p {
  color: #FFFFFF;
  font-family: "PTRootUIVF", Sans-serif;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.bust-fixed a {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2px;
}

.bust-fixed a:hover i {
  color: #f77da4;
}

.bust-fixed a i {
  color: #fcecf4;
  -webkit-transform: rotate(95deg);
  -ms-transform: rotate(95deg);
  transform: rotate(95deg);
  margin-right: 5px;
}

.bust-fixed__btn {
  width: 19.885%;
  padding: 10px;
  background: #87003D;
  margin-left: auto;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
}

.bust-hero {
  position: relative;
  margin-top: -40px;
  background-color: #F8B5BE;
  margin-bottom: 10px;
}

.bust-hero h1 {
  color: #87003D;
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
}

.bust-hero h1 span {
  font-size: 30px;
  display: block;
  margin-top: 20px;
}

.bust-hero .container {
  min-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 0 !important;
}

.bust-hero__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 10px;
  color: #87003D;
}

.bust-hero__back svg {
  fill: #87003D;
  margin-right: 10px;
}

.bust-hero__bg {
  background-image: url(../img/bust/bust-hero-bg.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 60% auto;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.bust-hero__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50.306%;
  flex: 0 0 50.306%;
  padding: 10px;
}

.bust-hero__img {
  width: 70%;
  max-width: 100%;
  margin-bottom: 20px;
}

.bust-hero__btn {
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: #87003D;
  background-color: rgba(244, 194, 213, 0);
  border: 5px solid #87003D;
  border-radius: 500px;
  padding: 20px 40px 20px 40px;
  margin-top: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bust-hero__btn:hover,
.bust-hero__btn:active {
  background: #87003D;
  color: #fff;
}

.bust-about {
  padding: 70px 0 10px;
}

.bust-about h3 {
  margin-bottom: 20px;
}

.bust-about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bust-about__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 69.554%;
  flex: 0 0 69.554%;
  padding-right: 20px;
}

.bust-about__preview {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0px 0px 40px 20px;
}

.bust-about__preview span {
  display: block;
  font-weight: 800;
  color: #87003D;
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.bust-about__preview img {
  width: 100%;
}

.bust-info {
  padding-top: 10px;
}

.bust-info h3 {
  margin-bottom: 40px;
}

.bust-info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.bust-info__preview {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31.8%;
  flex: 0 0 31.8%;
  background: #87003D;
  padding: 50px;
  border-radius: 30px;
  margin-right: 60px;
}

.bust-info__preview h3 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.bust-info__block {
  overflow: hidden;
  margin: 40px 0 20px;
}

.bust-info__block .animate {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  padding: 10px;
  background-color: #F8B5BE;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
}

.bust-info__block .animate span {
  margin-left: 10px;
}

.bust-info__block .animate i {
  font-size: 35px;
  text-align: center;
  color: #87003D;
}

.bust-info__block .animate:hover {
  color: #87003D;
}

.item-accordion i {
  font-size: 25px;
}

.item-accordion__header {
  padding: 30px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 800;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  cursor: pointer;
}

.item-accordion__header:hover,
.item-accordion__header.open {
  color: #FFFFFF;
  background: #87003D;
}

.item-accordion__header.open .item-accordion__chevron {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.item-accordion__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-accordion__left span {
  display: block;
  margin-right: 10px;
}

.item-accordion__content {
  display: none;
  padding: 0 20px;
  margin: 40px 0 15px;
  background-color: #fff;
}

.item-accordion__content a {
  position: relative;
}

.item-accordion__content a:after {
  content: "";
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-accordion__content a:hover:after {
  width: 100%;
}

.item-accordion__content p {
  margin: 0;
}

.item-accordion__content ul {
  padding-left: 15px;
}

.item-accordion__content ul li {
  font-size: 18px;
  line-height: 1.6;
}

.item-accordion__content h4 {
  margin-top: 1.15em;
}

.item-accordion__content h4:first-child {
  margin-top: 0;
}

.bust-discount {
  padding-top: 40px;
}

.bust-discount h3 {
  margin-bottom: 20px;
}

.bust-bullhorn {
  padding-top: 20px;
}

.bust-bullhorn__inner {
  max-width: 1120px;
  padding: 35px;
  margin: 0 auto;
  background-color: #87003D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
}

.bust-bullhorn__inner h3 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.bust-bullhorn__inner p {
  color: #fff;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

.bust-bullhorn__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 81.776%;
  flex: 0 0 81.776%;
}

.bust-bullhorn__icon {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 10px;
}

.bust-bullhorn__icon span {
  width: 100px;
  height: 100px;
  color: #87003D;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  background-color: #F8B5BE;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bust-bullhorn__icon span i {
  font-size: 50px;
  -webkit-transform: rotate(333deg);
  -ms-transform: rotate(333deg);
  transform: rotate(333deg);
}

.bust-awards {
  max-width: 1325px;
  padding: 60px 50px;
  margin: 57px auto 0;
  background-color: #F8B5BE;
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  border-radius: 30px;
}

.bust-awards h3 {
  margin-bottom: 20px;
}

.bust-awards .container {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bust-awards__contents {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 54.825%;
  flex: 0 0 54.825%;
}

.bust-awards__content {
  margin-bottom: 40px;
}

.bust-awards__content p:last-child {
  margin-bottom: 0;
}

.bust-awards__content:last-child {
  margin-bottom: 0;
}

.bust-awards__content--w-border p {
  padding-left: 20px;
  border-style: solid;
  border-width: 0px 0px 0px 10px;
  border-color: #87003D;
  border-radius: 5px;
}

.bust-awards__img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-left: 20px;
}

.bust-awards__img img {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
}

.bust-partners {
  padding-top: 40px;
}

.bust-partners h3 {
  margin-bottom: 40px;
}

.bust-partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.bust-partners__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bust-partners__item img {
  -o-object-fit: contain;
  object-fit: contain;
}

.bust-partners--official .bust-partners__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

@media (max-width: 1024px) {
  .bust-page p {
    font-size: 16px;
  }

  .bust-page .container {
    padding: 0 20px;
  }

  .bust-fixed {
    position: static;
  }

  .bust-fixed__btn {
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
  }

  .bust-hero {
    padding: 25px;
  }

  .bust-hero h1 {
    font-size: 40px;
  }

  .bust-hero .container {
    min-height: 490px;
  }

  .bust-hero__back {
    top: 30px;
  }

  .bust-hero__btn {
    font-size: 18px;
    padding: 15px 25px;
    margin-top: 20px;
  }

  .bust-about {
    padding: 50px 0px 0px 0px;
  }

  .bust-about__preview span {
    font-size: 16px;
  }

  .bust-info .container {
    display: block;
  }

  .item-accordion__content ul li {
    font-size: 16px;
  }

  .item-accordion i {
    font-size: 18px;
  }

  .item-accordion__header {
    font-size: 18px;
  }

  .bust-awards {
    margin: 40px 20px 20px;
    padding: 20px;
  }

  .bust-awards .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
  }

  .bust-awards__img {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin: 0 0 20px;
  }

  .bust-partners {
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .bust-page h3 {
    font-size: 30px;
  }

  .bust-fixed__btn {
    width: 70%;
  }

  .bust-hero h1 {
    font-size: 33px;
  }

  .bust-hero h1 span {
    font-size: 25px;
  }

  .bust-hero__back {
    top: 100px;
  }

  .bust-hero__bg {
    background-image: none;
    background-size: 1% auto;
  }

  .bust-hero__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding: 70px 0 30px;
  }

  .bust-hero__img {
    width: 55%;
    margin: 65px 0px 20px 0px;
  }

  .bust-hero__btn {
    margin-bottom: 30px;
  }

  .bust-about__row {
    display: block;
  }

  .bust-about__preview {
    margin: 30px 0 0;
  }

  .bust-info .container {
    display: block;
  }

  .bust-info__block .animate {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }

  .bust-info__preview {
    padding: 30px;
    margin: 0 0 40px;
  }

  .item-accordion__header {
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.2em;
    text-transform: uppercase;
  }

  .item-accordion__content {
    padding: 0 15px;
    margin: 32px 0 7px;
  }

  .item-accordion__chevron i {
    font-size: 16px;
  }

  .item-accordion__left i {
    font-size: 35px;
  }

  .bust-bullhorn__inner {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .bust-bullhorn__icon {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin: 0 0 27px;
  }

  .bust-awards {
    padding: 30px 20px;
    border-radius: 10px;
  }

  .bust-awards__content--w-border p {
    padding-left: 0;
    border: none;
    border-radius: 0;
  }

  .bust-partners--official .bust-partners__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
  }

  .bust-partners__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .bust-hero__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
  }

  .bust-about__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
  }

  .bust-awards__img {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .bust-info__preview {
    display: none;
  }
}